.container
  .featurette
    %img.featurette-image.pull-right{:src => "img/screens/now.gif", :style => 'margin-top:30px'}
    %a(name='clients')
    %h2.featurette-heading
      Never lose a Client. 
      %span.muted They are shared across your business - and backed up by Mobilizer.
    %p.lead Access them from a smart phone or a browser. We put them in a central location and provide everyone access to them. 
