.container
  .featurette
    %img.featurette-image.pull-right{:src => "img/screens/paid.gif", :style => 'margin-top:20px'}
    %a(name='invoices')
    %h2.featurette-heading
      Get paid fast.
      %span.muted Send your clients an email with a link to their estimate / invoice.
    %p.lead Know when they they looked at the invoice. Know when they pay. Mark the invoice as paid, and the customer will see a nice satisfying 'Paid' stamp on the invoice.

