.container
  %hr.featurette-divider
    .featurette
      %img.featurette-image.pull-right{:src => "img/screens/now.gif", :style => 'margin-right:35px'}
        %h2.featurette-heading
          First featurette headling.asdfadsfas
          %span.muted It'll blow your mind.
        %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    %hr.featurette-divider
      .featurette
        %img.featurette-image.pull-left{:src => "../assets/img/examples/browser-icon-firefox.png"}
          %h2.featurette-heading
            Oh yeah, it's that good.
            %span.muted See for yourself.
          %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      %hr.featurette-divider
        .featurette
          %img.featurette-image.pull-right{:src => "../assets/img/examples/browser-icon-safari.png"}
            %h2.featurette-heading
              And lastly, this one.
              %span.muted Checkmate.
            %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        %hr.featurette-divider
          / /END THE FEATURETTES
          / FOOTER
