.navbar-wrapper
  / Wrap the .navbar in .container to center it within the absolutely positioned parent.
  .container
    .navbar.navbar-inverse
      .navbar-inner
        / Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize.
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => "#"} Mobilize
        / Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse.
        .nav-collapse.collapse
          %ul.nav
            %li.active
              %a{:href => "#pricing"} Pricing
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "mailto:contact@mblz.com?subject=Contact&body=What can we do for you"} 
                Contact
            %li
              %a{:href => "mailto:contact@mblz.com?subject=Request a Demo&body=Hello, I would like a demo"} 
                Request a Demo              
            / Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns
            / %li.dropdown
            /   %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            /     Dropdown
            /     %b.caret
            /   %ul.dropdown-menu
            /     %li
            /       %a{:href => "#"} Action
            /     %li
            /       %a{:href => "#"} Another action
            /     %li
            /       %a{:href => "#"} Something else here
            /     %li.divider
            /     %li.nav-header Nav header
            /     %li
            /       %a{:href => "#"} Separated link
            /     %li
            /       %a{:href => "#"} One more separated link