.container
  %hr.featurette-divider
  %h2 Pricing
  %a(name='pricing')
  %table.table.table-striped#pricing
    %thead
      %tr
        %th
        %th Just enough
        %th.recd 
          %h4.free 
            Just right
        %th OMG
    %tr
      %td.first 
        %span.free
          Free 
        local phone number
      %td
        %i.icon-check
      %td.recd
        %i.icon-check
      %td
        %i.icon-check                
    %tr
      %td.first 
        %span.free Free
        toll-free phone number
      %td
      %td.recd
        %i.icon-check
      %td
        %i.icon-check  
    %tr
      %td.first 
        %span.free Free 
        Data Backup
      %td
        %i.icon-check
      %td.recd
        %i.icon-check
      %td
        %i.icon-check          
    %tr      
      %td.first Users
      %td 2        
      %td.recd 4
      %td
        %b.free
          &infin;           
    %tr
      %td.first Contacts
      %td
        %i.icon-check
      %td.recd
        %i.icon-check
      %td
        %i.icon-check    
    %tr
      %td.first Contact Import
      %td
        
      %td.recd
        - request_quote
      %td
        - request_quote          
    %tr   
      %td.first Estimates
      %td
        %i.icon-check
      %td.recd
        %i.icon-check
      %td
        %i.icon-check  
    %tr   
      %td.first Confirmations
      %td        
      %td.recd
        %i.icon-check
      %td
        %i.icon-check            
    %tr           
      %td.first Hosting
      %td
        %i.icon-check
      %td.recd
        %i.icon-check
      %td
        %i.icon-check 
    %tr          
      %td.first Content manager
      %td
      %td.recd
        %i.icon-check
      %td
        %i.icon-check     
    %tr      
      %td.first Invoices
      %td
      %td.recd
      %td
        %i.icon-check   
    %tr      
      %td.first Corporate Email
      %td
      %td.recd
        %i.icon-check 
      %td
        %i.icon-check         
    %tr      
      %td.first Customer Manager
      %td        
      %td.recd
        - request_quote
      %td
        - request_quote 
    %tr      
      %td.first 
        %span.free Free
        Laptop
      %td        
      %td.recd
      %td
        %i.icon-check
    %tr      
      %td.first Google Advertisement
      %td
      %td.recd
      %td 
        - request_quote          
    %tr      
      %td.first Setup
      %td Free        
      %td.recd $250
      %td Free
    %tr      
      %td.first Monthly
      %td $99        
      %td.recd(style='border-bottom:2px solid #CFDBC5;')
        %h4.free $250
      %td $500
        